.App {
  text-align: center;
  display: flex !important;
  min-height: 100vh !important;
  flex-direction: column !important;
}
.brand-logo {
  font-weight: 700;
  letter-spacing: 2px;
}

.page-footer {
  margin-top: auto !important;
  margin-bottom: 0 !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buton {
  background: #e53935;
  color: wheat;
}
.ca {
  position: absolute !important;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  left: 0;
  height: 100%;
  opacity: 0;
  width: 100%;
  z-index: 3;
  background: transparent;
}

.ca h1 {
  text-shadow: 2px 2px black !important;
}
.buton {
  display: inline-block;
  z-index: 99;
  opacity: 0;
  position: relative;
  left: 0;
  outline: 0;
  border: 0;
}
/* .card {
  height: 360 !important;
  width: 100%;
} */
.card-image {
  position: absolute;
  background: transparent;
  object-fit: scale-down;
  z-index: 0;
  width: 75% !important;
  height: 100% !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0);
  transition: background 0.5s ease;
}
.card-content {
  display: none;
}
.card.small .card-image {
  max-height: 100%;
}
.svvg {
  /* position: absolute !important; */
  position: absolute;
  top: 0 !important;
  opacity: 0;
  margin-left: 3px;
  font-size: 2rem;
  left: 0 !important;
  z-index: 99 !important;
}
.card:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.3);
}
.card:hover .svvg {
  display: inline-block;
  z-index: 99 !important;
  opacity: 1;
  backgroud: white;
}

.chgWte {
  fill: white !important;
}
.chgRed {
  fill: red !important;
}
.card:hover .buton {
  opacity: 1 !important;
}
.card:hover .ca {
  opacity: 1;
}
.cardDesc {
  width: 60%;
  margin: auto auto;
}
.desc {
  font-weight: 600 !important;
  font-size: bold !important;
  text-transform: uppercase !important;
  letter-spacing: 2px;
}
.buton:hover {
  color: #e53935;
  border: #e53935 solid 2px;
  background: wheat;
  font-weight: 700;
}

.cen {
  margin: auto !important;
}
.home {
  cursor: pointer !important;
  margin: 10px !important                             ;
}

.mov-title {
  font-weight: bold;
  font-size: 2rem;
}

.mar {
  margin-top: 1.4rem;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
  }
  h1 {
    font-size: 1.2rem;
  }
  .desc {
    font-weight: 600 !important;
    letter-spacing: 0.9px;
  }
  .mov-title {
    font-size: 1.3rem;
    line-height: 20px;
  }
  .buton {
    /* width: 100%; */
    font-size: 1rem;
  }

  .mar {
    margin-top: 1.2rem;
  }
  .movieInfo {
    margin-top: 0.8rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
