.App {
  text-align: center;
  display: flex !important;
  min-height: 100vh !important;
  flex-direction: column !important;
}
.brand-logo {
  font-weight: 700;
  letter-spacing: 2px;
}

.page-footer {
  margin-top: auto !important;
  margin-bottom: 0 !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buton {
  background: #e53935;
  color: wheat;
}
.ca {
  position: absolute !important;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 1;
  width: 100%;
  z-index: 3;
  background: transparent;
}
.buton {
  display: inline-block;
  z-index: 99;
  opacity: 0;
  position: relative;
  top: 50%;
  left: 0;
  outline: 0;
  border: 0;
}
.card-image {
  position: absolute;
  background: transparent;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0);
  transition: background 0.5s ease;
}
.card:hover .overlay {
  display: block;
  background: rgba(32, 32, 32, 0.3);
}
.card:hover .buton {
  opacity: 1 !important;
}
.cardDesc {
  width: 60%;
  margin: auto auto;
}
.desc {
  font-weight: 600 !important;
  font-size: bold !important;
  text-transform: uppercase !important;
  letter-spacing: 2px;
}
.buton:hover {
  color: #e53935;
  border: #e53935 solid 2px;
  background: wheat;
  font-weight: 700;
}

.cen {
  margin: auto !important;
}
.home {
  cursor: pointer !important;
  margin: 10px !important                             ;
}

.mov-title {
  font-weight: bold;
  font-size: 2rem;
}

.mar {
  margin-top: 1.4rem;
}
